// Typography
$font-size-small-title: 1.25vw;;
$font-size-title: 1.78vw;
$font-size-big-title: 2.6vw;
$font-size-main-title: 3.64vw;
$font-size-text: 0.94vw;
$font-size-big-text: 1.04vw;
$font-size-button: 1.25vw;
$font-size-timeline: 1.5vw;
$font-size-account-title: 2.02vw;
$font-size-doc-title: 3.02vw;
$font-size-home-quote: 2.5vw;
$font-size-style-money: 5.3vw;



$font-size-small-title-mob: 24px;
$font-size-title-mob: 34px;
$font-size-big-title-mob: 50px;
$font-size-main-title-mob: 70px;
$font-size-text-mob: 18px;
$font-size-big-text-mob: 20px;
$font-size-button-mob: 24px;
$font-size-timeline-mob: 30px;
$font-size-account-title-mob: 40px;
$font-size-home-quote-mob: 48px;
$font-size-doc-title-mob: 60px;

// Colors
$colorBlack: #000000;
$colorOrange: #F47521;
$colorWhite: #FFFFFF;
$colorBackground: #191414;


